body{
    background-image: url("/public/background-image.jpg");
}

.weather{
    background-image: url("/public/backgoound-image -dark.jpg");
    width: 75%;
    height: 580px;
    margin-top: 80px;
    margin-left: 180px; 
    display: flex;
    border-radius: 8px;
    padding: 20px;
    justify-content: space-between;
}

.weather-icons{
    height: 100%;
    width: 60%;
    /* background-color: rgb(214, 18, 145); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.climate-box-one{
    /* background-color: rgb(192, 188, 188); */
    background-image: url("/public/backgoound-image\ -\ inners.jpg");
    width: 100%;
    height: 22%;
    /* padding-top: 5px;
    padding-left: 5px; */
    border-radius: 8px;
}

.climate-box-two{
    /* background-color: rgb(66, 87, 57); */
    background-image: url("/public/backgoound-image\ -\ inners.jpg");
    width: 100%;
    height: 25%;
    /* padding-top: 5px;
    padding-left: 5px; */
    border-radius: 8px;
}

.text-climate{
    font-size: x-small;
    padding-left: 10px;
    padding-top: 10px;
    font-family: sans-serif;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    width: 28%;
    color: rgb(103, 103, 103);
}

.fa-clock, .fa-calendar-week{
    font-size: medium;
}

.fa-calendar-day{
    font-size: medium;
    padding-top: 3px;
}

.climate-group-one{
    /* background-color: rgb(81, 165, 42); */
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    /* padding: 52px; */
}

.climate-group-two{
     /* background-color: rgb(81, 165, 42); */
     width: 100%;
     height: 82%;
     display: flex;
     align-items: center;
     /* padding: 52px; */
}

.climate{
    width: 10%;
    height: 70%;
    background-color: rgb(63, 63, 63);
    margin-left: 10px;
    border-radius: 9px;
    color: rgb(194, 194, 194);
}

.weather-container{
    /* background-color: blueviolet; */
    width: 35%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-box-container{
    width: 100%;
    height: 45%;
    /* background-color: rgb(3, 44, 209); */
    background-image: url("/public/backgoound-image\ -\ inner.jpg");
    border-radius: 8px;
}

.weather__search{
    width: 100%;
    height: 90%;
    background-color: rgb(130, 128, 128);
    /* color: rgb(0, 0, 0); */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.weather__info{
    width: 100%;
    height: 92%;
    /* background-color: rgb(255, 255, 255); */
    background-image: url("/public/backgoound-image\ -\ inners.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-top: 15px;
}

.text-weather-info{
    color: rgb(255, 255, 255);
    opacity: 1;
    /* padding-top: 45%; */
    
}

.fa-location-dot{
    /* padding-left: 15px; */
    /* padding-left: 8px;
    font-size: 14px;
    color: rgb(41, 40, 40); */
    position: absolute;
    top: 2.8px;
    left: 7px;
}

.search-name{
    width: 94%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(130, 128, 128);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-left: 28px;
}

.weather-group{
    /* background-color: rgb(1, 35, 63); */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 41%;
}

.weather-box{
    background-color: rgb(0, 0, 0);
    opacity: .7;
    width: 25%;
    height: 90%;
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    color: rgb(129, 129, 129);
}

.text-highlights{
    font-size: x-small;
    padding-top: 10px;
    font-family: sans-serif;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    width: 33%;
    color: rgb(165, 165, 165);
}

.fa-temperature-three-quarters, .fa-snowflake,  .fa-eye-slash, .fa-droplet, .fa-temperature-arrow-down, .fa-wind{
    padding: 5px;
    color: rgb(129, 129, 129);
}

.fa-cloud{
    display: flex;
    justify-content: center;
}

h5, h3{
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

h3{
    padding-top: 1px;
}

h6{
    display: flex;
    justify-content: center;
}

/* .weather-icon-png{
    background-color: aliceblue;
} */